

/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind base;
@tailwind variants;
@tailwind utilities;
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(250, 251, 254) !important;
}
h1,h2,h3,h4,h5,h6,p,div{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.6em;
}