.container{
    >header{
        cursor: move;
        box-sizing: border-box;
        height: 40px;
        line-height: 40px;
        border: 1px dashed gray;
        padding: 0.5rem 1rem;
        background:white;

    }
}